<div class="container" *ngIf="data.length else loading">
  <header>
    <h1>CryptoCap</h1>
    <div class="form">
      <input type="text" [(ngModel)]="filterTerm" placeholder="Filter Here...">
    </div>
  </header>
  <div #wrapper class="wrapper">
    <table *ngIf="data.length">
      <tr>
        <th (click)="sortBy('index')">#</th>
        <th class="left" (click)="sortBy('long')">Name</th>
        <th (click)="sortBy('mktcap')">Market Cap</th>
        <th (click)="sortBy('price')">Price</th>
        <th (click)="sortBy('vwapData')">24h VWAP</th>
        <th (click)="sortBy('supply')">Available Supply</th>
        <th (click)="sortBy('volume')">24h Volume</th>
        <th (click)="sortBy('perc')">24h %Change</th>
      </tr>
      <tr [@anim]="'show'" *ngFor="let data of data | filter:filterTerm | paginate:page:pageLength">
        <td>{{ data.index + 1 }}</td>
        <td class="left">{{ data.long }}</td>
        <td>{{ data.mktcap | number:'1.0-0' }}</td>
        <td>{{ data.price | number:'1.8-8' }}</td>
        <td>{{ data.vwapData | number:'1.4-4' }}</td>
        <td>{{ data.supply | number }}</td>
        <td>{{ data.volume | number }}</td>
        <td>{{ data.perc }} </td>
      </tr>
    </table>
  </div>
</div>
<ng-template #loading>
  <div class="loading">
    <div class="spinner"></div>
  </div>
</ng-template>